*~
.deps
.libs
*.o
*.lo
*.la
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
gtk-v4l.desktop
install-sh
libtool
ltmain.sh
missing
stamp-h1
src/gtk-v4l
